.Change-Password{
    display: flex;
}
.change{
    margin-right: 20px;
    font-size: small;
}
.new{
    margin-right: 20px;
    font-size: small;
}
.confirm{
    margin-right: 20px;
    font-size: small;
}
#currentPassword{
    width:200px !important;
    height: 25px;
    border: 1px solid #989c9f;
    border-radius: 8px;
    padding: 5px;
}
#newPassword{
    width:200px !important;
    height: 25px;
    border: 1px solid #989c9f;
    border-radius: 8px;
    padding: 5px;
}
#confirmPassword{
    width:200px !important;
    height: 25px;
    border: 1px solid #989c9f;
    border-radius: 8px;
    padding: 5px;
}
.submit{
    margin-top: 40px;
    width:150px !important;
    height: 35px;
    border: 1px solid #989c9f;
    border-radius: 8px;
    color:grey;
    background:white;
}
.submit:hover{
    width:150px !important;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #989c9f;
    color:white;
    background:rgb(61, 90, 254);;
}
.submit1{
   text-align: end;
}
.password{
    margin-top: 60px;
}